In [ ]:
! pip install findspark

Requirement already satisfied: findspark in ./.local/lib/python3.8/site-packages (2.0.1)

In [ ]:
import findspark
findspark.init()

import pyspark
sc = pyspark.SparkContext(appName="lsml-app")

from pyspark.sql import SparkSession, Row
se = SparkSession(sc)

In [ ]:
! curl https://storage.yandexcloud.net/outbrain-mirror/clicks_test.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/clicks_test.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/clicks_train.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/clicks_train.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/documents_categories.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/documents_categories.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/documents_entities.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/documents_entities.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/documents_meta.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/documents_meta.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/documents_topics.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/documents_topics.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/events.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/events.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/page_views.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/page_views.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/page_views_sample.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/page_views_sample.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/promoted_content.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/promoted_content.csv
! curl https://storage.yandexcloud.net/outbrain-mirror/sample_submission.csv.zip | gzip -d | hdfs dfs -put - /user/outbrain/sample_submission.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  135M  100  135M    0     0  16.5M      0  0:00:08  0:00:08 --:--:-- 21.5M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  389M  100  389M    0     0  18.9M      0  0:00:20  0:00:20 --:--:-- 21.3M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 32.3M  100 32.3M    0     0  9530k      0  0:00:03  0:00:03 --:--:-- 9530k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  125M  100  125M    0     0  17.5M      0  0:00:07  0:00:07 --:--:-- 23.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15.5M  100 15.5M    0     0  5106k      0  0:00:03  0:00:03 --:--:-- 5106k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  120M  100  120M    0     0  17.3M      0  0:00:06  0:00:06 --:--:-- 23.7M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  477M  100  477M    0     0  23.6M      0  0:00:20  0:00:20 --:--:-- 30.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 34.7G  100 34.7G    0     0  29.0M      0  0:20:25  0:20:25 --:--:-- 28.8M8 34.7G   28  9.9G    0     0  28.6M      0  0:20:42  0:05:56  0:14:46 29.4M8M.7M      0  0:20:38  0:10:02  0:10:36 28.0MM      0  0:20:37  0:10:29  0:10:08 30.8M 0  28.8M      0  0:20:35  0:12:16  0:08:19 26.0M   0     0  28.8M      0  0:20:34  0:12:42  0:07:52 29.6M     0  0:20:28  0:15:59  0:04:29 29.9M9.0M      0  0:20:27  0:16:05  0:04:22 30.7M  82 28.8G    0     0  29.0M      0  0:20:25  0:16:55  0:03:30 28.5M  29.0M      0  0:20:25  0:20:21  0:00:04 28.1M

gzip: stdin: invalid compressed data--length error
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  148M  100  148M    0     0  17.1M      0  0:00:08  0:00:08 --:--:-- 22.5M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2575k  100 2575k    0     0  1229k      0  0:00:02  0:00:02 --:--:-- 1229k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 99.5M  100 99.5M    0     0  16.5M      0  0:00:06  0:00:06 --:--:-- 24.2M

In [ ]:
! hdfs dfs -ls /user/outbrain/

Found 11 items
-rw-r--r--   1 ubuntu hadoop   506953370 2022-03-19 23:00 /user/outbrain/clicks_test.csv
-rw-r--r--   1 ubuntu hadoop  1486734654 2022-03-19 23:00 /user/outbrain/clicks_train.csv
-rw-r--r--   1 ubuntu hadoop   118017029 2022-03-19 23:00 /user/outbrain/documents_categories.csv
-rw-r--r--   1 ubuntu hadoop   324096832 2022-03-19 23:00 /user/outbrain/documents_entities.csv
-rw-r--r--   1 ubuntu hadoop    89380566 2022-03-19 23:00 /user/outbrain/documents_meta.csv
-rw-r--r--   1 ubuntu hadoop   339473038 2022-03-19 23:00 /user/outbrain/documents_topics.csv
-rw-r--r--   1 ubuntu hadoop  1208549589 2022-03-19 23:01 /user/outbrain/events.csv
-rw-r--r--   1 ubuntu hadoop 94931571958 2022-03-19 23:21 /user/outbrain/page_views.csv
-rw-r--r--   1 ubuntu hadoop   454346554 2022-03-19 23:21 /user/outbrain/page_views_sample.csv
-rw-r--r--   1 ubuntu hadoop    13886609 2022-03-19 23:21 /user/outbrain/promoted_content.csv
-rw-r--r--   1 ubuntu hadoop   273136709 2022-03-19 23:22 /user/outbrain/sample_submission.csv

## Saving as parquet

In [ ]:
train = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/clicks_train.csv", header=True, inferSchema=True)
train.write.parquet("/user/outbrain/parquet/clicks_train.parquet")

test = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/clicks_test.csv", header=True, inferSchema=True)
test.write.parquet("/user/outbrain/parquet/clicks_test.parquet")

categories = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/documents_categories.csv", header=True, inferSchema=True)
categories.write.parquet("/user/outbrain/parquet/documents_categories.parquet")

entities = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/documents_entities.csv", header=True, inferSchema=True)
entities.write.parquet("/user/outbrain/parquet/documents_entities.parquet")

meta = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/documents_meta.csv", header=True, inferSchema=True)
meta.write.parquet("/user/outbrain/parquet/documents_meta.parquet")

topics = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/documents_topics.csv", header=True, inferSchema=True)
topics.write.parquet("/user/outbrain/parquet/documents_topics.parquet")

events = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/events.csv", header=True, inferSchema=True)
events.write.parquet("/user/outbrain/parquet/events.parquet")

In [ ]:
%%time
views = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/page_views.csv", header=True, inferSchema=True)
views.write.parquet("/user/outbrain/parquet/page_views.parquet")

views_sample = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/page_views_sample.csv", header=True, inferSchema=True)
views_sample.write.parquet("/user/outbrain/parquet/page_views_sample.parquet")

content = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/promoted_content.csv", header=True, inferSchema=True)
content.write.parquet("/user/outbrain/parquet/promoted_content.parquet")

sample_submission = se.read.option("mode", "DROPMALFORMED").csv("/user/outbrain/sample_submission.csv", header=True, inferSchema=True)
sample_submission.write.parquet("/user/outbrain/parquet/sample_submission.parquet")

CPU times: user 1.24 s, sys: 548 ms, total: 1.78 s
Wall time: 2h 19min 35s

In [ ]:
! hdfs dfs -rm /user/outbrain/page_views.csv

Deleted /user/outbrain/page_views.csv

## Opening tables

In [ ]:
train = se.read.parquet('/user/outbrain/parquet/clicks_train.parquet')
train.registerTempTable("train")
print(train.count())
print(train.columns)
train.limit(5).toPandas()

87141731
['display_id', 'ad_id', 'clicked']

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [ ]:
test = se.read.parquet('/user/outbrain/parquet/clicks_test.parquet')
test.registerTempTable("test")
print(test.count())
print(test.columns)
test.limit(5).toPandas()

32225162
['display_id', 'ad_id']

   display_id   ad_id
0    17926818  187982
1    17926818  190579
2    17926818  238221
3    17926818  359056
4    17926819   24754

In [ ]:
categories = se.read.parquet('/user/outbrain/parquet/documents_categories.parquet')
categories.registerTempTable("categories")
print(categories.count())
print(categories.columns)
categories.limit(5).toPandas()

5481475
['document_id', 'category_id', 'confidence_level']

   document_id  category_id  confidence_level
0      1870818         1403              0.92
1      1870818         1702              0.07
2      2008670         1908              0.92
3      2008670         1707              0.07
4      1990410         1604              0.92

In [ ]:
events = se.read.parquet('/user/outbrain/parquet/events.parquet')
events.registerTempTable("events")
print(events.count())
print(events.columns)
events.limit(5).toPandas()

23120126
['display_id', 'uuid', 'document_id', 'timestamp', 'platform', 'geo_location']

   display_id            uuid  document_id  timestamp platform geo_location
0           1  cb8c55702adb93       379743         61        3    US>SC>519
1           2  79a85fa78311b9      1794259         81        2    US>CA>807
2           3  822932ce3d8757      1179111        182        2    US>MI>505
3           4  85281d0a49f7ac      1777797        234        2    US>WV>564
4           5  8d0daef4bf5b56       252458        338        2        SG>00

In [ ]:
content = se.read.parquet('/user/outbrain/parquet/promoted_content.parquet'
                         ).withColumnRenamed("document_id", "promo_document_id")
content.registerTempTable("content")
print(content.count())
print(content.columns)
content.limit(5).toPandas()

559583
['ad_id', 'promo_document_id', 'campaign_id', 'advertiser_id']

   ad_id  promo_document_id  campaign_id  advertiser_id
0      1               6614            1              7
1      2             471467            2              7
2      3               7692            3              7
3      4             471471            2              7
4      5             471472            2              7

In [ ]:
from pyspark.sql.functions import countDistinct
content.select(countDistinct("ad_id")).show()

+---------------------+
|count(DISTINCT ad_id)|
+---------------------+
|               559583|
+---------------------+

In [ ]:
views = se.read.parquet('/user/outbrain/parquet/page_views.parquet')
views.registerTempTable("views")
print(views.count())
print(views.columns)
views.limit(5).toPandas()

2034275448
['uuid', 'document_id', 'timestamp', 'platform', 'geo_location', 'traffic_source']

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,68fb8eb72c49c4,1201414,63621328,3,GB>F8,2
1,a88f8816ca5830,1201414,84129394,2,US>GA>524,1
2,fe8feabea9f4dc,1201414,18200114,2,PK>04,1
3,23dd0b38da6247,1201414,47379374,2,NP>00,2
4,cb7d81b02f4c1b,1201414,33703433,1,GB>G5,1


And we can immediately think what to do with this unwieldy table. First idea: make a list of visited pages for each user!

In [ ]:
from pyspark.sql import functions as F

views_ordered = (views \
  .groupby("uuid") \
  .agg(F.collect_set("geo_location"),
       F.collect_set("platform"),
       F.collect_set("traffic_source"),
       F.collect_list("document_id"))
).withColumnRenamed("collect_set(geo_location)", "geo_location_all")\
    .withColumnRenamed("collect_set(platform)", "platform_all")\
    .withColumnRenamed("collect_set(traffic_source)", "traffic_source_all")\
    .withColumnRenamed("collect_list(document_id)", "document_id_all")

views_ordered.limit(5).toPandas()

,uuid,geo_location_all,platform_all,traffic_source_all,document_id_all
0,1000022084d5a9,[US>OH>510],[1],[1],[2234570]
1,100008e35c47a0,"[US>IL>648, US>IL>602]",[2],"[1, 3]","[2212362, 363095, 1444247, 2737351, 2463114, 1..."
2,1000105ca6b2b1,[US>TN>640],[3],[1],[2807484]
3,100013af048bbf,[US>CA>807],[3],"[1, 2]","[2757816, 38915, 2444354, 2434169, 2442603, 24..."
4,100013ef3da8d5,[US>CA>803],[1],[1],[1553867]

In [ ]:
#views_ordered.withColumnRenamed("collect_set(geo_location)", "geo_location_all")\
#    .withColumnRenamed("collect_set(platform)", "platform_all")\
#    .withColumnRenamed("collect_set(traffic_source)", "traffic_source_all")\
#    .withColumnRenamed("collect_list(document_id)", "document_id_all")\
#    .limit(5).toPandas()

,uuid,geo_location_all,platform_all,traffic_source_all,document_id_all
0,1000022084d5a9,[US>OH>510],[1],[1],[2234570]
1,100008e35c47a0,"[US>IL>648, US>IL>602]",[2],"[1, 3]","[1179111, 2213121, 1444247, 2212362, 2463114, ..."
2,100013ef3da8d5,[US>CA>803],[1],[1],[1553867]
3,10001f49a96ca8,[DE>16],[2],[3],[1179111]
4,100024efde9aa4,[GE],[2],[3],[653170]

In [ ]:
views_ordered.write.parquet("/user/outbrain/parquet/views_ordered.parquet")

In [ ]:
sample_views = se.read.parquet('/user/outbrain/parquet/page_views_sample.parquet')
sample_views.registerTempTable("sample_views")
print(sample_views.count())
print(sample_views.columns)
sample_views.limit(5).toPandas()

9999999
['uuid', 'document_id', 'timestamp', 'platform', 'geo_location', 'traffic_source']

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,1fd5f051fba643,120,31905835,1,RS,2
1,8557aa9004be3b,120,32053104,1,VN>44,2
2,c351b277a358f0,120,54013023,1,KR>12,1
3,8205775c5387f9,120,44196592,1,IN>16,2
4,9cb0ccd8458371,120,65817371,1,US>CA>807,2

In [ ]:
from pyspark.sql import functions as F

sample_views_ordered = (sample_views \
  .groupby("uuid") \
  .agg(F.collect_list("geo_location"),
       F.collect_list("platform"),
       F.collect_list("traffic_source"),
       F.collect_list("document_id"))
) \
    .withColumnRenamed("collect_set(platform)", "platform_all")\
    .withColumnRenamed("collect_set(traffic_source)", "traffic_source_all")\
    .withColumnRenamed("collect_list(document_id)", "document_id_all")

sample_views_ordered.limit(5).toPandas()

,uuid,collect_list(geo_location),collect_list(platform),collect_list(traffic_source),document_id_all
0,10015b5d084850,[US>KS>616],[3],[2],[1856154]
1,100186fb24c903,[US>SC>570],[1],[1],[1836115]
2,10029016ab7584,[US>NJ>501],[2],[1],[1756820]
3,100350115dd1ee,[US>CA>825],[1],[1],[1849776]
4,100509466ab653,[US>MD>512],[2],[1],[1871990]

## Adding new features

In [ ]:
views_ordered = se.read.parquet('/user/outbrain/parquet/views_ordered.parquet')
views_ordered.count()

717506889

In [ ]:
train_wide = train.join(events, on=['display_id'], how='left').join(content, on=['ad_id'], how='left').cache()
print(train_wide.count())
print(train_wide.columns)
train_wide.limit(5).toPandas()

87141731
['ad_id', 'display_id', 'clicked', 'uuid', 'document_id', 'timestamp', 'platform', 'geo_location', 'promo_document_id', 'campaign_id', 'advertiser_id']

,ad_id,display_id,clicked,uuid,document_id,timestamp,platform,geo_location,promo_document_id,campaign_id,advertiser_id
0,89351,148,1,9adce6a5363308,1205772,11202,2,US>LA>612,990613,7617,2181
1,152140,148,0,9adce6a5363308,1205772,11202,2,US>LA>612,1060089,19032,1593
2,152656,148,0,9adce6a5363308,1205772,11202,2,US>LA>612,1086755,10511,2151
3,326768,148,0,9adce6a5363308,1205772,11202,2,US>LA>612,1379561,23374,2348
4,28270,463,0,85d999a1dd5483,1787133,34492,1,US>SD>764,845272,4346,1913

In [ ]:
train_wide.where(train_wide['document_id'] == train_wide['promo_document_id']).count()

0

We can see that no page advertises itself. We have passed the sanity check.

In [ ]:
split_col = pyspark.sql.functions.split(train_wide['geo_location'], '>')

train_wider = train_wide.withColumn('country', split_col.getItem(0))
train_wider = train_wider.withColumn('city', split_col.getItem(1))
train_wider = train_wider.withColumn('index', split_col.getItem(2)).drop('geo_location')

train_wider.limit(5).toPandas()

,ad_id,display_id,clicked,uuid,document_id,timestamp,platform,promo_document_id,campaign_id,advertiser_id,country,city,index
0,89351,148,1,9adce6a5363308,1205772,11202,2,990613,7617,2181,US,LA,612
1,152140,148,0,9adce6a5363308,1205772,11202,2,1060089,19032,1593,US,LA,612
2,152656,148,0,9adce6a5363308,1205772,11202,2,1086755,10511,2151,US,LA,612
3,326768,148,0,9adce6a5363308,1205772,11202,2,1379561,23374,2348,US,LA,612
4,28270,463,0,85d999a1dd5483,1787133,34492,1,845272,4346,1913,US,SD,764

In [ ]:
train_wider.write.parquet("/user/outbrain/parquet/train_wider.parquet")

In [ ]:
train_widest = train_wider.join(views_ordered.drop("geo_location_all")\
                                .drop("traffic_source_all")\
                                .drop("platform_all"), on=['uuid'], how='left')

train_widest.limit(5).toPandas()

,uuid,ad_id,display_id,clicked,document_id,timestamp,platform,promo_document_id,campaign_id,advertiser_id,country,city,index,document_id_all
0,100013af048bbf,7033,16757900,0,38915,1116182031,3,393333,530,386,US,CA,807,"[2441155, 2434209, 2447063, 2436405, 2444027, ..."
1,100013af048bbf,147242,16757900,0,38915,1116182031,3,1108162,15428,2241,US,CA,807,"[2441155, 2434209, 2447063, 2436405, 2444027, ..."
2,100013af048bbf,156270,16757900,1,38915,1116182031,3,1388416,18892,2623,US,CA,807,"[2441155, 2434209, 2447063, 2436405, 2444027, ..."
3,10015959b777b6,64255,8264198,0,786004,566415049,2,747047,8568,1077,US,None,None,"[2255569, 786004]"
4,10015959b777b6,114910,8264198,0,786004,566415049,2,1149641,10609,1341,US,None,None,"[2255569, 786004]"

In [ ]:
train_widest.write.parquet("/user/outbrain/parquet/train_widest.parquet")

In [ ]:
print(train.count(), train_widest.count())

87141731 87141731

## Creating vw files

In [ ]:
#import findspark
#findspark.init()
#
#import pyspark
#sc = pyspark.SparkContext(appName="lsml-app")
#
#from pyspark.sql import SparkSession, Row

In [ ]:
#se = pyspark.sql.SparkSession.builder.appName("MyApp") \
#        .config("spark.jars.packages", "com.microsoft.azure:synapseml_2.12:0.9.5") \
#        .config("spark.jars.repositories", "https://mmlspark.azureedge.net/maven") \
#        .config("spark.dynamicAllocation.enabled", False) \
#        .config("spark.locality.wait", 0) \
#        .getOrCreate()

In [ ]:
#import synapse
from pyspark.sql.functions import when, col

In [ ]:
train_widest = se.read.parquet('/user/outbrain/parquet/train_widest.parquet')

In [ ]:
train_widest.columns

['uuid',
 'ad_id',
 'display_id',
 'clicked',
 'document_id',
 'timestamp',
 'platform',
 'promo_document_id',
 'campaign_id',
 'advertiser_id',
 'country',
 'city',
 'index',
 'document_id_all']

In [ ]:
columns = [
    'f_uuid',
    'f_ad_id',
    'i_display_id',
    'target',
    'f_doc_id',
    'f_timestamp',
    'f_platform',
    'f_promo_id',
    'f_campaign_id',
    'f_advertiser_id',
    'g_country',
    'g_city',
    'g_index',
    'v_visits'
]

feats = columns[:]
feats.remove('target')

df = train_widest.toDF(*columns)
df.printSchema()

root
 |-- f_uuid: string (nullable = true)
 |-- f_ad_id: integer (nullable = true)
 |-- i_display_id: integer (nullable = true)
 |-- target: integer (nullable = true)
 |-- f_doc_id: integer (nullable = true)
 |-- f_timestamp: integer (nullable = true)
 |-- f_platform: string (nullable = true)
 |-- f_promo_id: integer (nullable = true)
 |-- f_campaign_id: integer (nullable = true)
 |-- f_advertiser_id: integer (nullable = true)
 |-- g_country: string (nullable = true)
 |-- g_city: string (nullable = true)
 |-- g_index: string (nullable = true)
 |-- v_visits: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [ ]:
df_train, df_val = (
    df
    .randomSplit([0.9, 0.1], 422)
)

df.count(), df_train.count(), df_val.count()

(87141731, 78431574, 8710157)

In [ ]:
df_val.agg({'target': 'sum'}).show()

+-----------+
|sum(target)|
+-----------+
|    1685700|
+-----------+

In [ ]:
def to_number(raw_value):
    try:
        return float(raw_value)
    except:
        return 0.0
    
def convert_to_vw_class(data):
    if 'target' in data and int(data['target']) == 1:
        target = '1'
    else:
        target = '-1'
        
    if data['v_visits'] == None:
        v_num = 0
        v_visits = ''
    else:
        v_num = len(data['v_visits'])
        v_visits = ' '.join(['doc_' + str(x) for x in data['v_visits']])
        
    template = ("{target} |i dis_{i_display_id} |f adi_{f_ad_id} "\
                "uid_{f_uuid} doc_{f_doc_id} prm_{f_promo_id} cmp_{f_campaign_id} "\
                "adv_{f_advertiser_id} |g cnt_{g_country} cit_{g_city} ind_{g_index} tim_{f_timestamp} "\
                "plt_{f_platform} |v {v_visits}")
    
    return template.format(
        target=target,
        f_ad_id=data['f_ad_id'],
        i_display_id=data['i_display_id'],
        f_uuid=data['f_uuid'],
        f_timestamp=data['f_timestamp'],
        f_doc_id=data['f_doc_id'],
        f_platform=data['f_platform'],
        f_promo_id=data['f_promo_id'],
        f_campaign_id=data['f_campaign_id'],
        f_advertiser_id=data['f_advertiser_id'],
        g_country=str(data['g_country']),
        g_city=str(data['g_city']),
        g_index=str(data['g_index']),
        v_visits=v_visits,
        #v_num=v_num
    )

In [ ]:
%%time
convert_to_vw_class(df_train.first())

CPU times: user 1.63 ms, sys: 4.47 ms, total: 6.1 ms
Wall time: 7.65 s

'-1 |i dis_11712627 |f adi_94017 uid_10000942273bb4 doc_2498454 prm_1131560 cmp_12143 adv_1510 |g cnt_US cit_FL ind_528 tim_775257289 plt_3 |v doc_2498454'

In [ ]:
df_val.rdd.map(convert_to_vw_class).take(10)

['-1 |i dis_11712627 |f adi_220703 uid_10000942273bb4 doc_2498454 prm_1167035 cmp_24737 adv_3710 |g cnt_US cit_FL ind_528 tim_775257289 plt_3 |v doc_2498454',
 '1 |i dis_9011208 |f adi_172432 uid_10001fb391c03c doc_2348464 prm_1432967 cmp_21133 adv_1683 |g cnt_US cit_VA ind_511 tim_604491634 plt_3 |v doc_785504 doc_2191199 doc_1994190 doc_748583 doc_2407071 doc_2896256 doc_2437828 doc_2348464 doc_749677',
 '-1 |i dis_15283020 |f adi_512716 uid_10009bf8662d14 doc_2724451 prm_2529107 cmp_841 adv_176 |g cnt_US cit_None ind_None tim_1012746455 plt_2 |v doc_2724451 doc_2724451 doc_767910',
 '-1 |i dis_15283020 |f adi_528572 uid_10009bf8662d14 doc_2724451 prm_2636776 cmp_33865 adv_1460 |g cnt_US cit_None ind_None tim_1012746455 plt_2 |v doc_2724451 doc_2724451 doc_767910',
 '-1 |i dis_7922576 |f adi_71764 uid_10009d4c760a67 doc_143979 prm_1067714 cmp_8746 adv_1206 |g cnt_US cit_TX ind_626 tim_550368355 plt_1 |v doc_1467006 doc_1436120 doc_1827718 doc_1331473 doc_1118196 doc_1331473 doc_143979 doc_438834 doc_1756563 doc_1527546',
 '-1 |i dis_15156122 |f adi_292580 uid_10020ccf1b1de7 doc_2714621 prm_1341800 cmp_24976 adv_53 |g cnt_US cit_OR ind_820 tim_1004008596 plt_3 |v doc_2529025 doc_2534800 doc_2534309 doc_2676247 doc_2388825 doc_2706370 doc_2714262 doc_2528732 doc_2704905 doc_2660718 doc_2789832 doc_2714621 doc_226303 doc_649663 doc_370274 doc_2758720 doc_2676340 doc_2844973 doc_2910301 doc_2766726 doc_2892303 doc_2752053',
 '1 |i dis_10270695 |f adi_139944 uid_10020f279ac124 doc_2449497 prm_1320137 cmp_17929 adv_1782 |g cnt_US cit_OH ind_515 tim_684742971 plt_2 |v doc_2449497',
 '-1 |i dis_15986491 |f adi_63005 uid_10021ddf632543 doc_279652 prm_1033598 cmp_8397 adv_846 |g cnt_US cit_GA ind_520 tim_1069939061 plt_3 |v doc_1190929 doc_279652 doc_2405232 doc_407737 doc_279835 doc_409264 doc_386754 doc_991150 doc_208848 doc_510670',
 '-1 |i dis_5781340 |f adi_29760 uid_10024d67e1ad7f doc_2165712 prm_856479 cmp_538 adv_415 |g cnt_US cit_NY ind_501 tim_384775603 plt_2 |v doc_2105905 doc_2109491 doc_2326069 doc_1026091 doc_2185001 doc_2797525 doc_2042602 doc_859777 doc_2173289 doc_2107596 doc_2103172 doc_2107617 doc_1026091 doc_2165712 doc_1026091 doc_2104258 doc_2797788 doc_1026091 doc_2562121 doc_2099393 doc_1026091 doc_2100563 doc_2184163 doc_2654785 doc_2074449 doc_2269496 doc_2109201 doc_1026091 doc_2104591 doc_2100429 doc_2797983 doc_2800012 doc_2804785 doc_2815372 doc_2798291 doc_2943232 doc_2934892 doc_2934760 doc_2931443 doc_2809392 doc_2942879 doc_2924281 doc_2938173 doc_2938562 doc_2942028 doc_2931749 doc_2101522 doc_2104699 doc_2812164 doc_2799530 doc_2936954 doc_1442918',
 '-1 |i dis_5781340 |f adi_103712 uid_10024d67e1ad7f doc_2165712 prm_1156375 cmp_5081 adv_1759 |g cnt_US cit_NY ind_501 tim_384775603 plt_2 |v doc_2105905 doc_2109491 doc_2326069 doc_1026091 doc_2185001 doc_2797525 doc_2042602 doc_859777 doc_2173289 doc_2107596 doc_2103172 doc_2107617 doc_1026091 doc_2165712 doc_1026091 doc_2104258 doc_2797788 doc_1026091 doc_2562121 doc_2099393 doc_1026091 doc_2100563 doc_2184163 doc_2654785 doc_2074449 doc_2269496 doc_2109201 doc_1026091 doc_2104591 doc_2100429 doc_2797983 doc_2800012 doc_2804785 doc_2815372 doc_2798291 doc_2943232 doc_2934892 doc_2934760 doc_2931443 doc_2809392 doc_2942879 doc_2924281 doc_2938173 doc_2938562 doc_2942028 doc_2931749 doc_2101522 doc_2104699 doc_2812164 doc_2799530 doc_2936954 doc_1442918']

In [ ]:
! hdfs dfs -rm -R "/user/outbrain/data.train.vw"
df_train.rdd.map(convert_to_vw_class).saveAsTextFile("/user/outbrain/data.train.vw")

Deleted /user/outbrain/data.train.vw

In [ ]:
! hdfs dfs -rm -R "/user/outbrain/data.val.vw"
df_val.rdd.map(convert_to_vw_class).saveAsTextFile("/user/outbrain/data.val.vw")

Deleted /user/outbrain/data.val.vw

In [ ]:
! hdfs dfs -cat /user/outbrain/data.train.vw/* > train.vw
! hdfs dfs -cat /user/outbrain/data.val.vw/* > val.vw

## Training the rabbit

In [ ]:
! vw --help

Num weight bits = 18
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile =
num sources = 1
driver:
  --onethread           Disable parse thread
VW options:
  --ring_size arg (=256, ) size of example ring
  --strict_parse           throw on malformed examples
Update options:
  -l [ --learning_rate ] arg Set learning rate
  --power_t arg              t power value
  --decay_learning_rate arg  Set Decay factor for learning_rate between passes
  --initial_t arg            initial t value
  --feature_mask arg         Use existing regressor to determine which
                             parameters may be updated.  If no
                             initial_regressor given, also used for initial
                             weights.
Weight options:
  -i [ --initial_regressor ] arg  Initial regressor(s)
  --initial_weight arg            Set all weights to an initial value of arg.
  --random_weights                make initial weights random
  --normal_weights                make initial weights normal
  --truncated_normal_weights      make initial weights truncated normal
  --sparse_weights                Use a sparse datastructure for weights
  --input_feature_regularizer arg Per feature regularization input file
Parallelization options:
  --span_server arg                 Location of server for setting up spanning
                                    tree
  --unique_id arg (=0, )            unique id used for cluster parallel jobs
  --total arg (=1, )                total number of nodes used in cluster
                                    parallel job
  --node arg (=0, )                 node number in cluster parallel job
  --span_server_port arg (=26543, ) Port of the server for setting up spanning
                                    tree
Diagnostic options:
  --version             Version information
  -a [ --audit ]        print weights of features
  -P [ --progress ] arg Progress update frequency. int: additive, float:
                        multiplicative
  --quiet               Don't output disgnostics and progress updates
  --dry_run             Parse arguments and print corresponding metadata. Will
                        not execute driver.
  -h [ --help ]         Look here: http://hunch.net/~vw/ and click on Tutorial.
Randomization options:
  --random_seed arg     seed random number generator
Feature options:
  --hash arg                      how to hash the features. Available options:
                                  strings, all
  --hash_seed arg (=0, )          seed for hash function
  --ignore arg                    ignore namespaces beginning with character
                                  <arg>
  --ignore_linear arg             ignore namespaces beginning with character
                                  <arg> for linear terms only
  --keep arg                      keep namespaces beginning with character
                                  <arg>
  --redefine arg                  redefine namespaces beginning with characters
                                  of std::string S as namespace N. <arg> shall
                                  be in form 'N:=S' where := is operator. Empty
                                  N or S are treated as default namespace. Use
                                  ':' as a wildcard in S.
  -b [ --bit_precision ] arg      number of bits in the feature table
  --noconstant                    Don't add a constant feature
  -C [ --constant ] arg           Set initial value of constant
  --ngram arg                     Generate N grams. To generate N grams for a
                                  single namespace 'foo', arg should be fN.
  --skips arg                     Generate skips in N grams. This in
                                  conjunction with the ngram tag can be used to
                                  generate generalized n-skip-k-gram. To
                                  generate n-skips for a single namespace
                                  'foo', arg should be fN.
  --feature_limit arg             limit to N features. To apply to a single
                                  namespace 'foo', arg should be fN
  --affix arg                     generate prefixes/suffixes of features;
                                  argument '+2a,-3b,+1' means generate 2-char
                                  prefixes for namespace a, 3-char suffixes for
                                  b and 1 char prefixes for default namespace
  --spelling arg                  compute spelling features for a give
                                  namespace (use '_' for default namespace)
  --dictionary arg                read a dictionary for additional features
                                  (arg either 'x:file' or just 'file')
  --dictionary_path arg           look in this directory for dictionaries;
                                  defaults to current directory or env{PATH}
  --interactions arg              Create feature interactions of any level
                                  between namespaces.
  --permutations                  Use permutations instead of combinations for
                                  feature interactions of same namespace.
  --leave_duplicate_interactions  Don't remove interactions with duplicate
                                  combinations of namespaces. For ex. this is a
                                  duplicate: '-q ab -q ba' and a lot more in
                                  '-q ::'.
  -q [ --quadratic ] arg          Create and use quadratic features
  --q: arg                        DEPRECATED ':' corresponds to a wildcard for
                                  all printable characters
  --cubic arg                     Create and use cubic features
Example options:
  -t [ --testonly ]                Ignore label information and just test
  --holdout_off                    no holdout data in multiple passes
  --holdout_period arg (=10, )     holdout period for test only
  --holdout_after arg              holdout after n training examples, default
                                   off (disables holdout_period)
  --early_terminate arg (=3, )     Specify the number of passes tolerated when
                                   holdout loss doesn't decrease before early
                                   termination
  --passes arg                     Number of Training Passes
  --initial_pass_length arg        initial number of examples per pass
  --examples arg                   number of examples to parse
  --min_prediction arg             Smallest prediction to output
  --max_prediction arg             Largest prediction to output
  --sort_features                  turn this on to disregard order in which
                                   features have been defined. This will lead
                                   to smaller cache sizes
  --loss_function arg (=squared, ) Specify the loss function to be used, uses
                                   squared by default. Currently available ones
                                   are squared, classic, hinge, logistic,
                                   quantile and poisson.
  --quantile_tau arg (=0.5, )      Parameter \tau associated with Quantile
                                   loss. Defaults to 0.5
  --l1 arg                         l_1 lambda
  --l2 arg                         l_2 lambda
  --no_bias_regularization         no bias in regularization
  --named_labels arg               use names for labels (multiclass, etc.)
                                   rather than integers, argument specified all
                                   possible labels, comma-sep, eg
                                   "--named_labels Noun,Verb,Adj,Punc"
Output model:
  -f [ --final_regressor ] arg          Final regressor
  --readable_model arg                  Output human-readable final regressor
                                        with numeric features
  --invert_hash arg                     Output human-readable final regressor
                                        with feature names.  Computationally
                                        expensive.
  --save_resume                         save extra state so learning can be
                                        resumed later with new data
  --preserve_performance_counters       reset performance counters when
                                        warmstarting
  --save_per_pass                       Save the model after every pass over
                                        data
  --output_feature_regularizer_binary arg
                                        Per feature regularization output file
  --output_feature_regularizer_text arg Per feature regularization output file,
                                        in text
  --id arg                              User supplied ID embedded into the
                                        final regressor
Output options:
  -p [ --predictions ] arg     File to output predictions to
  -r [ --raw_predictions ] arg File to output unnormalized predictions to
Audit Regressor:
  --audit_regressor arg stores feature names and their regressor values. Same
                        dataset must be used for both regressor training and
                        this mode.
Search options:
  --search arg                          Use learning to search,
                                        argument=maximum action id or 0 for LDF
  --search_task arg                     the search task (use "--search_task
                                        list" to get a list of available tasks)
  --search_metatask arg                 the search metatask (use
                                        "--search_metatask list" to get a list
                                        of available metatasks)
  --search_interpolation arg            at what level should interpolation
                                        happen? [*data|policy]
  --search_rollout arg                  how should rollouts be executed?
                                            [policy|oracle|*mix_per_state|mix_p
                                        er_roll|none]
  --search_rollin arg                   how should past trajectories be
                                        generated? [policy|oracle|*mix_per_stat
                                        e|mix_per_roll]
  --search_passes_per_policy arg (=1, ) number of passes per policy (only valid
                                        for search_interpolation=policy)
  --search_beta arg (=0.5, )            interpolation rate for policies (only
                                        valid for search_interpolation=policy)
  --search_alpha arg (=1e-10, )         annealed beta = 1-(1-alpha)^t (only
                                        valid for search_interpolation=data)
  --search_total_nb_policies arg        if we are going to train the policies
                                        through multiple separate calls to vw,
                                        we need to specify this parameter and
                                        tell vw how many policies are
                                        eventually going to be trained
  --search_trained_nb_policies arg      the number of trained policies in a
                                        file
  --search_allowed_transitions arg      read file of allowed transitions [def:
                                        all transitions are allowed]
  --search_subsample_time arg           instead of training at all timesteps,
                                        use a subset. if value in (0,1), train
                                        on a random v%. if v>=1, train on
                                        precisely v steps per example, if
                                        v<=-1, use active learning
  --search_neighbor_features arg        copy features from neighboring lines.
                                        argument looks like: '-1:a,+2' meaning
                                        copy previous line namespace a and next
                                        next line from namespace _unnamed_,
                                        where ',' separates them
  --search_rollout_num_steps arg        how many calls of "loss" before we stop
                                        really predicting on rollouts and
                                        switch to oracle (default means
                                        "infinite")
  --search_history_length arg (=1, )    some tasks allow you to specify how
                                        much history their depend on; specify
                                        that here
  --search_no_caching                   turn off the built-in caching ability
                                        (makes things slower, but technically
                                        more safe)
  --search_xv                           train two separate policies,
                                        alternating prediction/learning
  --search_perturb_oracle arg (=0, )    perturb the oracle on rollin with this
                                        probability
  --search_linear_ordering              insist on generating examples in linear
                                        order (def: hoopla permutation)
  --search_active_verify arg            verify that active learning is doing
                                        the right thing (arg = multiplier,
                                        should be = cost_range * range_c)
  --search_save_every_k_runs arg        save model every k runs
Experience Replay:
  --replay_c arg              use experience replay at a specified level
                              [b=classification/regression, m=multiclass,
                              c=cost sensitive] with specified buffer size
  --replay_c_count arg (=1, ) how many times (in expectation) should each
                              example be played (default: 1 = permuting)
Explore evaluation:
  --explore_eval        Evaluate explore_eval adf policies
  --multiplier arg      Multiplier used to make all rejection sample
                        probabilities <= 1
Offset tree Options:
  --ot arg              Offset tree with <k> labels
Make csoaa_ldf into Contextual Bandit:
  --cbify_ldf           Convert csoaa_ldf into a contextual bandit problem
  --loss0 arg (=0, )    loss for correct label
  --loss1 arg (=1, )    loss for incorrect label
Make Multiclass into Contextual Bandit:
  --cbify arg                  Convert multiclass on <k> classes into a
                               contextual bandit problem
  --cbify_cs                   Consume cost-sensitive classification examples
                               instead of multiclass
  --cbify_reg                  Consume regression examples instead of
                               multiclass and cost sensitive
  --cats arg (=0, )            Continuous action tree with smoothing
  --cb_discrete                Discretizes continuous space and adds cb_explore
                               as option
  --min_value arg              Minimum continuous value
  --max_value arg              Maximum continuous value
  --loss_option arg (=0, )     loss options for regression - 0:squared,
                               1:absolute, 2:0/1
  --loss_report arg (=0, )     loss report option - 0:normalized,
                               1:denormalized
  --loss_01_ratio arg (=0.1, ) ratio of zero loss for 0/1 loss
  --loss0 arg (=0, )           loss for correct label
  --loss1 arg (=1, )           loss for incorrect label
Continuous action tree with smoothing:
  --cats arg            Continuous action tree with smoothing
  --cats_pdf arg        Continuous action tree with smoothing (pdf)
Continuous actions:
  --sample_pdf          Sample a pdf and pick a continuous valued action
Continuous action tree with smoothing:
  --cats_pdf arg        Continuous action tree with smoothing (pdf)
  --pmf_to_pdf arg      Convert pmf to pdf
  --cats_tree arg       Continuous action tree
Continuous actions:
  --cb_explore_pdf        Sample a pdf and pick a continuous valued action
  --epsilon arg (=0.05, ) epsilon-greedy exploration
  --min_value arg (=0, )  min value for continuous range
  --max_value arg (=1, )  max value for continuous range
PMF to PDF:
  --pmf_to_pdf arg (=0, ) Convert discrete PDF into continuous PDF.
  --min_value arg         Minimum continuous value
  --max_value arg         Maximum continuous value
  --bandwidth arg (=1, )  Bandwidth (radius) of randomization around discrete
                          actions in number of actions.
Continuous actions:
  --get_pmf             Convert a single multiclass prediction to a pmf
Make Multiclass into Warm-starting Contextual Bandit:
  --warm_cb arg                        Convert multiclass on <k> classes into a
                                       contextual bandit problem
  --warm_cb_cs                         consume cost-sensitive classification
                                       examples instead of multiclass
  --loss0 arg (=0, )                   loss for correct label
  --loss1 arg (=1, )                   loss for incorrect label
  --warm_start arg (=0, )              number of training examples for warm
                                       start phase
  --epsilon arg                        epsilon-greedy exploration
  --interaction arg (=4294967295, )    number of examples for the interactive
                                       contextual bandit learning phase
  --warm_start_update                  indicator of warm start updates
  --interaction_update                 indicator of interaction updates
  --corrupt_type_warm_start arg (=1, ) type of label corruption in the warm
                                       start phase (1: uniformly at random, 2:
                                       circular, 3: replacing with overwriting
                                       label)
  --corrupt_prob_warm_start arg (=0, ) probability of label corruption in the
                                       warm start phase
  --choices_lambda arg (=1, )          the number of candidate lambdas to
                                       aggregate (lambda is the importance
                                       weight parameter between the two
                                       sources)
  --lambda_scheme arg (=1, )           The scheme for generating candidate
                                       lambda set (1: center lambda=0.5, 2:
                                       center lambda=0.5, min lambda=0, max
                                       lambda=1, 3: center lambda=epsilon/(1+ep
                                       silon), 4: center lambda=epsilon/(1+epsi
                                       lon), min lambda=0, max lambda=1); the
                                       rest of candidate lambda values are
                                       generated using a doubling scheme
  --overwrite_label arg (=1, )         the label used by type 3 corruptions
                                       (overwriting)
  --sim_bandit                         simulate contextual bandit updates on
                                       warm start examples
Slates:
  --slates              EXPERIMENTAL
EXPERIMENTAL: Conditional Contextual Bandit Exploration with Action Dependent Features:
  --ccb_explore_adf     EXPERIMENTAL: Do Conditional Contextual Bandit learning
                        with multiline action dependent features.
  --all_slots_loss      Report average loss from all slots
CB Sample:
  --cb_sample           Sample from CB pdf and swap top action.
CB Distributionally Robust Optimization:
  --cb_dro                     Use DRO for cb learning
  --cb_dro_alpha arg (=0.05, ) Confidence level for cb dro
  --cb_dro_tau arg (=0.999, )  Time constant for count decay for cb dro
  --cb_dro_wmax arg (=inf, )   maximum importance weight for cb_dro

In [ ]:
%%time

! vw --final_regressor outbrain.model.bin train.vw \
    --bit_precision 28 --l1 10 \
    --ftrl --ftrl_alpha 0.05 --ftrl_beta 0.5 \
    --loss_function logistic \
    --interactions ff --interactions fv \
    --random_seed 422
   # --passes 1 \
   # --cache -k \

creating features for following interactions: ff fv
using l1 regularization = 10
final_regressor = outbrain.model.bin
Enabling FTRL based optimization
Algorithm used: Proximal-FTRL
ftrl_alpha = 0.05
ftrl_beta = 0.5
Num weight bits = 28
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile = train.vw
num sources = 1
Enabled reductions: ftrl, scorer
average  since         example        example  current  current  current
loss     last          counter         weight    label  predict features
0.693147 0.693147            1            1.0  -1.0000   0.0000       41
0.693147 0.693147            2            2.0   1.0000   0.0000       41
0.693147 0.693147            4            4.0  -1.0000   0.0000       97
0.693147 0.693147            8            8.0   1.0000   0.0000       55
0.693147 0.693147           16           16.0   1.0000   0.0000      104
0.693147 0.693147           32           32.0  -1.0000   0.0000       55
0.676249 0.659350           64           64.0  -1.0000  -0.2204       41
0.631814 0.587379          128          128.0  -1.0000  -0.4858       41
0.596963 0.562111          256          256.0   1.0000  -0.9052      167
0.553469 0.509976          512          512.0  -1.0000  -1.0079       41
0.523874 0.494278         1024         1024.0   1.0000  -1.2837       83
0.514152 0.504430         2048         2048.0  -1.0000  -1.2525       41
0.505521 0.496891         4096         4096.0  -1.0000  -1.5234      111
0.496615 0.487708         8192         8192.0  -1.0000  -1.5675      146
0.491457 0.486299        16384        16384.0  -1.0000  -1.1901       48
0.486322 0.481187        32768        32768.0  -1.0000  -1.4253      146
0.481075 0.475828        65536        65536.0  -1.0000  -1.5845      118
0.473073 0.465070       131072       131072.0   1.0000  -1.0593       41
0.466055 0.459038       262144       262144.0  -1.0000  -1.4778       41
0.458580 0.451104       524288       524288.0  -1.0000  -1.1849       41
0.451741 0.444902      1048576      1048576.0  -1.0000  -1.2496       76
0.445661 0.439582      2097152      2097152.0  -1.0000  -1.8130      188
0.439403 0.433145      4194304      4194304.0  -1.0000  -0.6256       97
0.433313 0.427223      8388608      8388608.0  -1.0000  -2.5906       41
0.427891 0.422470     16777216     16777216.0  -1.0000  -0.8782       41
0.422718 0.417545     33554432     33554432.0  -1.0000  -1.8353       41
0.417921 0.413124     67108864     67108864.0   1.0000  -0.7411      118

finished run
number of examples = 78431574
weighted example sum = 78431574.000000
weighted label sum = -48053788.000000
average loss = 0.416910
best constant = -1.426415
best constant's loss = 0.491484
total feature number = 9719188118
CPU times: user 21.2 s, sys: 2.9 s, total: 24.1 s
Wall time: 19min 27s

In [ ]:
! vw --testonly --link=logistic --initial_regressor outbrain.model.bin -k --random_seed 422 --predictions val.ans.txt val.vw

creating features for following interactions: ff fv
only testing
predictions = val.ans.txt
Enabling FTRL based optimization
Algorithm used: Proximal-FTRL
ftrl_alpha = 0.005
ftrl_beta = 0.1
Num weight bits = 28
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile = val.vw
num sources = 1
Enabled reductions: ftrl, scorer
average  since         example        example  current  current  current
loss     last          counter         weight    label  predict features
2.785875 2.785875            1            1.0  -1.0000   0.6613       41
1.772634 0.759393            2            2.0   1.0000   0.5321       97
1.343018 0.913402            4            4.0  -1.0000   0.3440       55
2.377472 3.411925            8            8.0  -1.0000   0.1312      104
2.273058 2.168644           16           16.0   1.0000   0.1198       41
2.311368 2.349678           32           32.0  -1.0000   0.0589       48
2.628316 2.945265           64           64.0  -1.0000   0.2171      104
2.931302 3.234288          128          128.0  -1.0000   0.2736      174
2.624676 2.318049          256          256.0  -1.0000   0.7032      132
2.751056 2.877436          512          512.0   1.0000   0.2309       55
2.782654 2.814252         1024         1024.0  -1.0000   0.0920      132
2.750155 2.717655         2048         2048.0  -1.0000   0.1351       76
2.707608 2.665062         4096         4096.0  -1.0000   0.0437       76
2.701682 2.695755         8192         8192.0   1.0000   0.2460       62
2.664182 2.626683        16384        16384.0  -1.0000   0.4286      146
2.642853 2.621524        32768        32768.0  -1.0000   0.1630       41
2.653628 2.664403        65536        65536.0  -1.0000   0.4798       62
2.630666 2.607703       131072       131072.0  -1.0000   0.1509       97
2.620346 2.610027       262144       262144.0  -1.0000   0.2543       41
2.613925 2.607504       524288       524288.0   1.0000   0.1613      244
2.613735 2.613544      1048576      1048576.0  -1.0000   0.6001       83
2.611804 2.609873      2097152      2097152.0  -1.0000   0.2023      244
2.610316 2.608827      4194304      4194304.0  -1.0000   0.2677       41
2.610757 2.611198      8388608      8388608.0  -1.0000   0.0534       41

finished run
number of examples = 8710157
weighted example sum = 8710157.000000
weighted label sum = -5338757.000000
average loss = 2.610624
best constant = -0.612935
best constant's loss = 0.624311
total feature number = 1079593843

## Processing results

In [ ]:
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score

In [ ]:
! hdfs dfs -rm -r /user/misc/ 
! hdfs dfs -mkdir /user/misc/

In [ ]:
! hdfs dfs -put -f val.vw /user/misc/

In [ ]:
val_spark = se.read.option("delimiter", "|").csv('/user/misc/val.vw', header=False)
val_spark = val_spark.rdd.map(lambda x: int(x["_c0"]))
print(val_spark.take(5))

y_true = np.array(val_spark.collect())

[-1, 1, -1, -1, -1]

In [ ]:
with open("val.ans.txt", 'r') as f:
    y_probs = np.array([(float(value)) for value in f.readlines()])
    y_pred = np.array([int(x > 0.5) * 2 - 1 for x in y_probs])

In [ ]:
accuracy_score(y_true, y_pred)

0.8258232314296975

In [ ]:
log_loss(y_true, y_probs)

0.41062831575087627

In [ ]:
roc_auc_score(y_true, y_probs)

0.766997469027958

## Packaging a test file

In [ ]:
test_wide = test.join(events, on=['display_id'], how='left').join(content, on=['ad_id'], how='left')
test_wide.limit(5).toPandas()

,ad_id,display_id,uuid,document_id,timestamp,platform,geo_location,promo_document_id,campaign_id,advertiser_id
0,137006,16874807,a296494aa7a041,399863,87414,2,AU>02,916403,17587,859
1,192759,16874807,a296494aa7a041,399863,87414,2,AU>02,1469601,22742,1975
2,192855,16874807,a296494aa7a041,399863,87414,2,AU>02,1460834,22748,622
3,213769,16874807,a296494aa7a041,399863,87414,2,AU>02,903092,23770,712
4,64762,16874827,d134b1a0c43628,1754388,94623,1,US>CA>803,942527,5118,1107

In [ ]:
split_col = pyspark.sql.functions.split(test_wide['geo_location'], '>')

test_wider = test_wide.withColumn('country', split_col.getItem(0))
test_wider = test_wider.withColumn('city', split_col.getItem(1))
test_wider = test_wider.withColumn('index', split_col.getItem(2)).drop('geo_location')

test_wider.limit(5).toPandas()

,ad_id,display_id,uuid,document_id,timestamp,platform,promo_document_id,campaign_id,advertiser_id,country,city,index
0,137006,16874807,a296494aa7a041,399863,87414,2,916403,17587,859,AU,02,None
1,192759,16874807,a296494aa7a041,399863,87414,2,1469601,22742,1975,AU,02,None
2,192855,16874807,a296494aa7a041,399863,87414,2,1460834,22748,622,AU,02,None
3,213769,16874807,a296494aa7a041,399863,87414,2,903092,23770,712,AU,02,None
4,64762,16874827,d134b1a0c43628,1754388,94623,1,942527,5118,1107,US,CA,803

In [ ]:
test_widest = test_wider.join(views_ordered.drop("geo_location_all")\
                                .drop("traffic_source_all")\
                                .drop("platform_all"), on=['uuid'], how='left')

test_widest.limit(5).toPandas()

,uuid,ad_id,display_id,document_id,timestamp,platform,promo_document_id,campaign_id,advertiser_id,country,city,index,document_id_all
0,1000615e760786,85274,22991705,2959725,1288970662,3,961909,9947,2238,US,IL,602,"[2730005, 2730005, 2959725]"
1,1000615e760786,118016,22991705,2959725,1288970662,3,1193086,15059,2238,US,IL,602,"[2730005, 2730005, 2959725]"
2,1000615e760786,124564,22991705,2959725,1288970662,3,1201265,15992,2146,US,IL,602,"[2730005, 2730005, 2959725]"
3,1000615e760786,133143,22991705,2959725,1288970662,3,1294382,17083,1510,US,IL,602,"[2730005, 2730005, 2959725]"
4,1000615e760786,153060,22991705,2959725,1288970662,3,1376367,19445,2200,US,IL,602,"[2730005, 2730005, 2959725]"

In [ ]:
test_widest.write.parquet("/user/outbrain/parquet/test_widest.parquet")

In [ ]:
test_widest = se.read.parquet("/user/outbrain/parquet/test_widest.parquet")

In [ ]:
columns = [
    'f_uuid',
    'f_ad_id',
    'i_display_id',
    'f_doc_id',
    'f_timestamp',
    'f_platform',
    'f_promo_id',
    'f_campaign_id',
    'f_advertiser_id',
    'g_country',
    'g_city',
    'g_index',
    'v_visits'
]

df_test = test_widest.toDF(*columns)
df_test.printSchema()

root
 |-- f_uuid: string (nullable = true)
 |-- f_ad_id: integer (nullable = true)
 |-- i_display_id: integer (nullable = true)
 |-- f_doc_id: integer (nullable = true)
 |-- f_timestamp: integer (nullable = true)
 |-- f_platform: string (nullable = true)
 |-- f_promo_id: integer (nullable = true)
 |-- f_campaign_id: integer (nullable = true)
 |-- f_advertiser_id: integer (nullable = true)
 |-- g_country: string (nullable = true)
 |-- g_city: string (nullable = true)
 |-- g_index: string (nullable = true)
 |-- v_visits: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [ ]:
df_test.rdd.map(convert_to_vw_class).saveAsTextFile("/user/outbrain/data.test.vw")
! hdfs dfs -cat /user/outbrain/data.test.vw/* > test.vw

In [ ]:
! vw --testonly --link=logistic --initial_regressor outbrain.model.bin -k --random_seed 422 --predictions test.ans.txt test.vw

creating features for following interactions: ff fv
only testing
predictions = test.ans.txt
Enabling FTRL based optimization
Algorithm used: Proximal-FTRL
ftrl_alpha = 0.005
ftrl_beta = 0.1
Num weight bits = 28
learning rate = 0.5
initial_t = 0
power_t = 0.5
using no cache
Reading datafile = test.vw
num sources = 1
Enabled reductions: ftrl, scorer
average  since         example        example  current  current  current
loss     last          counter         weight    label  predict features
12.241900 12.241900            1            1.0  -1.0000   0.9241       41
8.042418 3.842935            2            2.0  -1.0000   0.0493       41
10.674784 13.307151            4            4.0  -1.0000   0.0321       41
5.417466 0.160147            8            8.0  -1.0000   0.1482      118
3.122124 0.826783           16           16.0  -1.0000   0.2257       41
2.052289 0.982453           32           32.0  -1.0000   0.1931      174
1.885795 1.719302           64           64.0  -1.0000   0.0927      188
1.364717 0.843639          128          128.0  -1.0000   0.1098       41
1.534774 1.704831          256          256.0  -1.0000   0.1430       55
1.650487 1.766200          512          512.0  -1.0000   0.0300      132
1.804755 1.959022         1024         1024.0  -1.0000   0.0685      104
1.795411 1.786068         2048         2048.0  -1.0000   0.2518       48
1.820188 1.844965         4096         4096.0  -1.0000   0.2064       76
1.881806 1.943424         8192         8192.0  -1.0000   0.2796       48
1.814047 1.746288        16384        16384.0  -1.0000   0.0659      111
1.854433 1.894819        32768        32768.0  -1.0000   0.0351      328
1.892452 1.930472        65536        65536.0  -1.0000   0.3445       97
1.875211 1.857970       131072       131072.0  -1.0000   0.0400       41
1.869217 1.863222       262144       262144.0  -1.0000   0.1319      174
1.867659 1.866101       524288       524288.0  -1.0000   0.0733      125
1.850984 1.834309      1048576      1048576.0  -1.0000   0.0192      104
1.842688 1.834392      2097152      2097152.0  -1.0000   0.2389       83
1.839939 1.837190      4194304      4194304.0  -1.0000   0.3589       62
1.838129 1.836319      8388608      8388608.0  -1.0000   0.1297       55
1.836183 1.834237     16777216     16777216.0  -1.0000   0.2110       41

finished run
number of examples = 32225162
weighted example sum = 32225162.000000
weighted label sum = -32225162.000000
average loss = 1.835116
best constant = -1.000000
best constant's loss = 0.000000
total feature number = 3820662891

In [ ]:
! head test.ans.txt

0.924061
0.049250
0.003818
0.032149
0.323855
0.271631
0.288628
0.148159
0.369514
0.243834

In [ ]:
test.count()

32225162

In [ ]:
from pyspark.sql.functions import countDistinct
test.select(countDistinct("ad_id")).show()

+---------------------+
|count(DISTINCT ad_id)|
+---------------------+
|               381385|
+---------------------+

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql import functions as F

test_grouped = (test.select(col("display_id"), col("ad_id")) \
  .groupby("display_id") \
  .agg(F.collect_list("ad_id"))
)

test_grouped.limit(5).toPandas()

   display_id                      collect_list(ad_id)
0    16874807         [137006, 192759, 192855, 213769]
1    16874827  [64762, 137842, 144741, 235104, 257524]
2    16874838          [37887, 117307, 123702, 160448]
3    16874919           [3784, 117198, 132295, 137126]
4    16875012                  [35050, 188159, 329206]

In [ ]:
test_grouped.count()

6245533

In [ ]:
ssub = se.read.parquet("/user/outbrain/parquet/sample_submission.parquet")
ssub.count()

6245533

The sizes match!

In [ ]:
! hdfs dfs -put -f test.vw /user/misc/

In [ ]:
! head test.vw

-1 |i dis_23112877 |f adi_39331 uid_100413e593e7f7 doc_1518998 prm_838254 cmp_5368 adv_580 |g cnt_US cit_MA ind_506 tim_1295551709 plt_2 |v doc_1518998
-1 |i dis_23112877 |f adi_92164 uid_100413e593e7f7 doc_1518998 prm_1126486 cmp_11955 adv_2722 |g cnt_US cit_MA ind_506 tim_1295551709 plt_2 |v doc_1518998
-1 |i dis_23112877 |f adi_232272 uid_100413e593e7f7 doc_1518998 prm_573399 cmp_115 adv_53 |g cnt_US cit_MA ind_506 tim_1295551709 plt_2 |v doc_1518998
-1 |i dis_23112877 |f adi_566224 uid_100413e593e7f7 doc_1518998 prm_2981649 cmp_17095 adv_447 |g cnt_US cit_MA ind_506 tim_1295551709 plt_2 |v doc_1518998
-1 |i dis_21447854 |f adi_35808 uid_1004e56a710992 doc_2892668 prm_896852 cmp_1550 adv_256 |g cnt_US cit_NY ind_532 tim_1205503062 plt_2 |v doc_856831 doc_1179111 doc_2108998 doc_850831 doc_880379 doc_1821324 doc_2892668 doc_2119615 doc_1849873 doc_2907553 doc_2073446 doc_1869791
-1 |i dis_21447854 |f adi_85366 uid_1004e56a710992 doc_2892668 prm_1101417 cmp_11069 adv_1544 |g cnt_US cit_NY ind_532 tim_1205503062 plt_2 |v doc_856831 doc_1179111 doc_2108998 doc_850831 doc_880379 doc_1821324 doc_2892668 doc_2119615 doc_1849873 doc_2907553 doc_2073446 doc_1869791
-1 |i dis_21447854 |f adi_164327 uid_1004e56a710992 doc_2892668 prm_1408591 cmp_20547 adv_1031 |g cnt_US cit_NY ind_532 tim_1205503062 plt_2 |v doc_856831 doc_1179111 doc_2108998 doc_850831 doc_880379 doc_1821324 doc_2892668 doc_2119615 doc_1849873 doc_2907553 doc_2073446 doc_1869791
-1 |i dis_21447854 |f adi_173403 uid_1004e56a710992 doc_2892668 prm_1387632 cmp_21143 adv_2876 |g cnt_US cit_NY ind_532 tim_1205503062 plt_2 |v doc_856831 doc_1179111 doc_2108998 doc_850831 doc_880379 doc_1821324 doc_2892668 doc_2119615 doc_1849873 doc_2907553 doc_2073446 doc_1869791
-1 |i dis_21368564 |f adi_12650 uid_1005ae84cc9b69 doc_54472 prm_503654 cmp_1899 adv_505 |g cnt_US cit_WY ind_756 tim_1201753680 plt_2 |v doc_54472 doc_54472
-1 |i dis_21368564 |f adi_108870 uid_1005ae84cc9b69 doc_54472 prm_1168619 cmp_14044 adv_83 |g cnt_US cit_WY ind_756 tim_1201753680 plt_2 |v doc_54472 doc_54472

In [ ]:
test_spark = se.read.option("delimiter", " ").csv('/user/misc/test.vw', header=False)
test_spark_ids = test_spark.rdd.map(lambda x: [x["_c4"].split('_')[1], x["_c2"]])
print(test_spark_ids.take(5))

[['39331', 'dis_23112877'], ['92164', 'dis_23112877'], ['232272', 'dis_23112877'], ['566224', 'dis_23112877'], ['35808', 'dis_21447854']]

In [ ]:
with open("test.ans.txt", 'r') as f:
    test_probs = np.array([(float(value)) for value in f.readlines()])

In [ ]:
#test_spark = se.read.option("delimiter", " ").csv('/user/misc/test.vw', header=False)
#test_spark_ids = test_spark.rdd.map(lambda x: [x["_c4"].split('_')[1], x["_c2"]])
#print(test_spark_ids.take(5))
#
#with open("test.ans.txt", 'r') as f:
#    test_probs = np.array([(float(value)) for value in f.readlines()])

[['85274', '22991705'], ['118016', '22991705'], ['124564', '22991705'], ['133143', '22991705'], ['153060', '22991705']]

In [ ]:
test_spark_ids.count()

32225162

In [ ]:
test_spark_scores = test_spark_ids.zipWithIndex().map(lambda x: [x[0][1], (test_probs[x[1]], x[0][0])])
test_spark_scores.take(5)

[['dis_23112877', (0.924061, '39331')],
 ['dis_23112877', (0.04925, '92164')],
 ['dis_23112877', (0.003818, '232272')],
 ['dis_23112877', (0.032149, '566224')],
 ['dis_21447854', (0.323855, '35808')]]

In [ ]:
test_grouped = test_spark_scores.groupByKey().mapValues(list)
test_grouped.take(5)

[('dis_22717362',
  [(0.29402, '13690'),
   (0.394497, '153244'),
   (0.097356, '204760'),
   (0.089415, '354799')]),
 ('dis_19035017',
  [(0.458178, '3314'),
   (0.141165, '65078'),
   (0.19537, '104911'),
   (0.029086, '153167'),
   (0.184653, '155253'),
   (0.201084, '194669')]),
 ('dis_17056297',
  [(0.076647, '38763'),
   (0.120777, '114199'),
   (0.078469, '137857'),
   (0.248031, '155251'),
   (0.444892, '188280'),
   (0.063879, '288388')]),
 ('dis_22804408',
  [(0.124411, '12651'),
   (0.10032, '51850'),
   (0.038326, '74349'),
   (0.00533, '75249'),
   (0.055124, '130940'),
   (0.976589, '140988'),
   (0.010424, '150863'),
   (0.063621, '330376')]),
 ('dis_18154885',
  [(0.214819, '31582'),
   (0.055236, '60373'),
   (0.222573, '133050'),
   (0.18225, '162130'),
   (0.048094, '279637'),
   (0.120254, '324746')])]

In [ ]:
test_sorted = test_grouped.map(lambda x: [x[0], sorted(x[1], reverse=True)])
test_sorted.take(5)

[['dis_22062093',
  [(0.227062, '540227'),
   (0.19783, '493823'),
   (0.095254, '279511'),
   (0.072462, '289974')]],
 ['dis_19219261',
  [(0.263456, '209186'),
   (0.251239, '438321'),
   (0.250884, '278719'),
   (0.178603, '305965')]],
 ['dis_20262825',
  [(0.308265, '271529'),
   (0.209089, '234445'),
   (0.189891, '8669'),
   (0.107303, '349532'),
   (0.098572, '499875'),
   (0.08199, '427688')]],
 ['dis_19612560',
  [(0.597382, '246826'),
   (0.323612, '125693'),
   (0.295374, '535499'),
   (0.080551, '142732')]],
 ['dis_21434028',
  [(0.3825, '231378'),
   (0.144711, '142172'),
   (0.113553, '125864'),
   (0.06832, '80177'),
   (0.063432, '38762'),
   (0.048118, '487921')]]]

In [ ]:
test_final = test_sorted.map(lambda x: [x[0], [y[1] for y in x[1]]])
test_final.take(5)

[['dis_22717362', ['153244', '13690', '204760', '354799']],
 ['dis_19035017', ['3314', '194669', '104911', '155253', '65078', '153167']],
 ['dis_17056297', ['188280', '155251', '114199', '137857', '38763', '288388']],
 ['dis_22804408',
  ['140988',
   '12651',
   '51850',
   '330376',
   '130940',
   '74349',
   '150863',
   '75249']],
 ['dis_18154885', ['133050', '31582', '162130', '324746', '60373', '279637']]]

In [ ]:
! hdfs dfs -rm -R /user/misc/submission.csv
def toCSVLine(data):
    return data[0][4:] + ',' + ' '.join(data[1])

lines = test_final.map(toCSVLine)
lines.saveAsTextFile('/user/misc/submission.csv')

Deleted /user/misc/submission.csv

In [ ]:
! hdfs dfs -cat /user/misc/submission.csv/* > submission.csv

We have beaten the baseline!

![pic](https://drive.google.com/uc?export=view&id=1wOT4zTbs5YbOHyCQmi2l8F32w78z4KPV)